<!DOCTYPE html>
<html>
<head>
  <title>Saygepoints</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% flash.each do |key, val| %>
    <p class="flash <%= key %>"><%= val %></p>
  <% end %>
  <%= yield %>
</body>
</html>
