<!DOCTYPE html>
<html>
<head>
  <title>Saygepoints</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "jquery-1.7.1.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.18.custom.min.js" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <h1>SaygePoints</h1>
  
  <nav id="sections">
    <ul>
      <li><%= link_to "Points", root_path %></li>
    </ul>
  </nav>
  
  <% flash.each do |key, val| %>
    <p class="flash <%= key %>"><%= val %></p>
  <% end %>
  
  <%= yield %>
</body>
</html>
